@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* For WebKit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* Your desired thumb color (gray-400 in Tailwind palette) */
  border-radius: 4px; /* Optional: roundness of the thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #edf2f7; /* Optional: color of the track (gray-200 in Tailwind palette) */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 #edf2f7; /* thumb-color track-color */
}
